# Ignore all jar files
*.jar

# Ignore all class files
*.class

# Ignore servicewrapper components
*.o
servicewrapper

# Ignore all build artefacts
package/*
*.rpm
*.zip
*.tar.gz

# Other stuff
*.log
*~
