# Ignore all jar files
*.jar

# Ignore all class files
*.class
bin/

# Ignore servicewrapper components
*.o
servicewrapper

# Ignore all build artefacts
package/*
*.rpm
*.zip
*.tar.gz

# Other stuff
*.log
*~

# Generated database documentation
doc/db
